---
layout: default
title: Portfolio
permalink: /portfolio/
---
<div class="gc" id="portfolio-content">
    <div class="grid-100 t-100 gp bordered-right thick lined" id="form-container">
        {% include search_form.html %}
    </div>
    <div class="grid-100 gp" id="scroll-area">
        {%for posts in site.posts %}
            {% if posts.type == 'project' %}
            {% capture project_title %}{{ posts.title }}{% endcapture %}
            {% capture primary_skill %}{{ posts.primary_skill }}{% endcapture %}
            {% capture post_excerpt %}{{ posts.content | markdownify | strip_html | truncatewords: 12 }}{% endcapture %}
            {% capture post_github %}{{ posts.github }}{% endcapture %}
            {% capture post_bool_website %}{{ posts.has_website }}{% endcapture %}
            {% capture post_website_link %}{{ posts.website }}{% endcapture %}
            {% capture post_tags %}{{ posts.tags }}{% endcapture %}
            {% capture post_link %}{{ posts.url }}{% endcapture %}
                {% include portfolio/card.html
                    title=project_title
                    project_skill=primary_skill
                    post_summary=post_excerpt
                    github=post_github
                    website_link=post_website_link
                    website_bool=post_bool_website
                    tags_post=post_tags
                    link_post=post_link
                %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<script src="/assets/js/search-form.js"></script>
