---
layout: default
title: Portfolio
---
<div class="gc" id="portfolio-content">
    <div class="grid-100 t-100 gp bordered-right thick lined" id="form-container">
        {% include search_form.html %}
    </div>
    <div class="grid-100">
        {%for posts in site.posts %}
            {% if posts.type == 'project' %}
                {{ posts.title }}
                {{ posts.tags }}
                {{ posts.project_type }}
                {{ posts.excerpt }}
                {{ posts.url | relative_url }}
                <a href="{{ posts.url }}" style="color: black;">{{ posts.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script src="/assets/js/search-form.js"></script>
