$red-orange: #D84924;
$gray-black: #333333;
$faded-green: #6EA35E;
$white: #FFFFFF;
$blood-red: #A4161A;
$ink-black: #0b090a;


$html-color: $red-orange;
$node-font-color: $gray-black;
$node-highlight-color: $faded-green;
$spot-color: $blood-red;
$main-border-color: $ink-black;

