<footer>
    <div class="grid-container">

        <div class="grid-50 prefix-25" id="footer-logo">
            <img>
        </div>

        <div class="grid-50 prefix-25" id="copyright">
            <h6>Copyright <span class="footer-highlight">&copy;</span> Samuel <span class="footer-highlight">Durrant-Walker</span></h6>
        </div>

        <div class="grid-90 grid-parent" id="social-media-section">
            <div class="grid-33 tablet-grid-33 social-media-icon">
                <i class="fab fa-linkedin"></i>
            </div>
            <div class="grid-33 tablet-grid-33 social-media-icon">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="grid-33 tablet-grid-33 social-media-icon">
                <i class="fab fa-facebook-square"></i>
            </div>
        </div>

        <div class="grid-50 prefix-25" id="legal-section">
            <p>Terms & Conditions + Privacy Policy</p>
        </div>
    </div>
</footer>