<footer>
    <div class="grid-container">

        <div class="grid-50 prefix-25" id="footer-logo">
            <img>
        </div>

        <div class="grid-50 prefix-25" id="copyright">
            <h6>Copyright &copy; Samuel Durrant-Walker</h6>
        </div>

        <div class="grid-90 grid-parent">
            <div class="grid-33 tablet-grid-33 social-media-icon">
                <i class="fab fa-linkedin"></i>
            </div>
            <div class="grid-33 tablet-grid-33 social-media-icon">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="grid-33 tablet-grid-33 social-media-icon">
                <i class="fab fa-facebook"></i>
            </div>
        </div>
    </div>
</footer>