<header>
	<div class="grid-container">
		<div class="grid-50 tablet-grid-50 mobile-grid-100">
			<div class="site-title">
				<a href="/" id="title"><h1>Samuel Durrant-Walker</h1></a>
			</div>
		</div>
		<div class="grid-50 tablet-grid-50 mobile-grid-100 grid-parent">
			<nav class="site-navigation">
				<div class="grid-25 tablet-grid-25 mobile-grid-25 navigation-section">
					<a href="projects/project_home">Projects</a><i class="fas fa-code"></i>
				</div>
				<div class="grid-25 tablet-grid-25 mobile-grid-25 navigation-section">
					<a href="/about">About Me</a><i class="fas fa-user-tag"></i>
				</div>
				<div class="grid-25 tablet-grid-25 mobile-grid-25 navigation-section">
					<a href="/contact">Reach Me</a><i class="fas fa-at"></i>
				</div>
				<div class="grid-25 tablet-grid-25 mobile-grid-25 navigation-section">
					<a href="blogs/blog_home.html">Blogging</a><i class="fas fa-keyboard"></i>
				</div>
			</nav>
		</div>
	</div>
</header>