<div class="grid-90 suffix-10">
    <form id="search-form">
        <label for="name-search">Project Name</label>
        <input type="text" name="name-search" class="bordered-input lined thin" id="search-text">

        <label for="project-search">Project Type</label>
        <select name="project-search" class="bordered-input lined thin">
            <option>Symfony</option>
            <option>CakePHP</option>
        </select>

        <label for="skill-search">Skill Type</label>
        <select name="skill-search" class="bordered-input lined thin">
            <option>PHP</option>
            <option>HTML</option>
        </select>

        <label for="year-select">Year</label>
        <select name="year-select" class="bordered-input lined thin">
            <option>2018</option>
            <option>2019</option>
        </select>

        <label for="is-completed">Is Complete?</label>
        <input type="checkbox" name="is-completed">

        <button type="submit" class="bordered-input thin lined" id="search-button">Search <i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
