$title-color: #66FCF1;

button#button-theme-toggle
{
    color: #0B0C10;
    background-color: $title-color;
    padding: 5px;
    border: none;
}

.light
{
    background-color: $light-background-color;
}