@import "variables";
* 
{
    margin: 0;
    padding: 0;
    font-family: Lucida Console;
}

html,
body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body
{
    background-color: $dark-background-color;
}

a
{
    text-decoration: none;
    color: $intro-font-color;
}

a:visited
{
    text-decoration: none;
    color: $intro-font-color;
}

a:hover
{
    color: rgb(78,255,232);
}

.introduction
{
    color: $intro-font-color;
    font-weight: 600;
    font-size: 50px;
    text-align: justify;
    border: 4px solid rgb(78,255,232);
    width: 70%;
    padding: 5%;
    margin-left: 10%;
    margin-top: 10%;
    text-transform: uppercase;
}