$title-color: #66FCF1;
$border-color: #45A29E;

/**
Light theme variables
**/
$light-border-color: $border-color;
$light-font-color: #0B0C10;
$light-background-color: white;


/**
Dark Theme variables
**/
$dark-background-color: #0B0C10;

/** 
Introduction
**/
$intro-font-color: #C5C6C7;