#form-container {
    padding-bottom: 0.8rem;
    border-bottom: 3px solid $main-border-color;
    margin-bottom: 0.8rem;
}

#filter-button {
    margin: 0 !important;
    padding: 0.2rem;
}

#portfolio-content {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#scroll-area {
    height: 60vh;
    overflow-y: scroll;

    display: grid;
    //grid-template-columns: 1fr;

    @media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
        height: 80vh;
       // grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $media-desktop-min) {
        height: 75vh;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: max-content 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-items: start;
    }
}

.hidden {
    display: none;
}
