#form-container {
    padding-bottom: 0.8rem;
    border-bottom: 3px solid $main-border-color;
    margin-bottom: 0.8rem;
}

#filter-button {
    margin: 0 !important;
    padding: 0.2rem;
}

#portfolio-content {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#scroll-area {
    height: 60vh;
    overflow-y: scroll;

    display: grid;

    @media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
        height: 80vh;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: auto;
        justify-content: space-evenly;
        justify-items: center;
        align-items: start;
    }

    @media screen and (min-width: $media-desktop-min) {
        height: 75vh;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(max-content);
        justify-content: space-evenly;
        justify-items: center;
        align-items: start;

    }
}

.hidden {
    display: none;
}
