@import "variables";

header
{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    background-color: #08080a;
}

.site-title
{
    color: $title-color !important;
    font-weight: 900;
    padding: 20px 0px 10px 0px;
    text-align: left;
}

#title
{
    color: $icon-font-color;
}

#title:visited
{
    color: $icon-font-color;
}

.site-navigation
{
    padding: 20px 0px 0px 0px;
    font-size: large;
    text-align: center;
}

.navigation-section
{
    display: inline-grid;

    i,
    .fas
    {
        color: $icon-font-color;
    }

    a
    {
        color: $intro-font-color;
    }

    a:visited
    {
        color: $intro-font-color;
    }
}

.navigation-section:hover
{
    i,
    .fas
    {
        color: $intro-font-color;
    }

    a
    {
        color: $icon-font-color;
    }
}


@media screen and (max-width: 458px) {
    .site-title
    {
        font-size: 15px;
        padding-left: 12px;
    }
}

@media screen and (min-width: 459px ) and (max-width: 768px) {
    .site-title
    {
        font-size: 13px;
    }
}