$padding: 10px;
$margin: 0;

#node-js {
    background-color: $node-highlight-color;
    padding: $padding;
    margin: $margin;;
}

#html-skill {
    background-color: $white;
    color: $html-color;
    padding: $padding;
    margin: $margin;
}

#javascript {
    background-color: #EAD41C;
    color: #494949;
    padding: $padding;
    margin: $margin;
}

