<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="https://kit.fontawesome.com/dbca3d3ac0.js" crossorigin="anonymous"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <meta name="author" content="Walker Development Studio">
        <meta charset="utf-8">
        <meta name="description" content="Walker Development Studios is a small company, bringing custom solutions
        to your business needs. We can cater to a wide variety of needs.">
    </head>
    <body>
        {% include header.html %}
        <div class="content">
            <main>
                {{ content }}
            </main>
        </div>
        {% include footer.html %}
    </body>
</html>
