#site-footer {
    background-color: #0b090a;
    color: white;
}

#footer-content {
    display: flex;
    flex-direction: row;
    text-align: center;

    @media screen and (max-width: $media-mobile-max) {
        display: flex;
        flex-direction: column;
    }
}

#social-icons {
    i {
        color: white;
    }
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

footer {
    flex-shrink: 0;
}
