header {
    background-color: white;
    padding-bottom: 0.9rem;
    padding-top: 0.5rem;

    @media screen and (max-width: $media-mobile-max) {
        margin-bottom: 1rem;
    }
}

nav {
    @media screen and (max-width: $media-mobile-max) {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 0.7rem;
        margin-top: 0.5rem;
        color: black;
        margin-bottom: 1rem;
    }

    @media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        justify-content: space-around;
    }

    @media screen and (min-width: $media-desktop-min) {
        display: flex;
        flex-direction: row;
        //column-gap: 3rem;
        justify-content: space-around;
    }
}

.mobile-menu-button {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 2rem;

    @media screen and (min-width: $media-tablet-min) {
        display: none;
    }
}
// .nav-link {
//     font-weight: 500;
//     margin-top: 0.25rem;

//     @media screen and (min-width: $media-desktop-min) {
//         &:nth-child(4) {
//             text-align: right;
//         }

//         &:nth-child(5) {
//             text-align: center;
//         }
//     }
// }
