header {
    background-color: white;
    padding-bottom: 0.9rem;
    padding-top: 0.5rem;

}

nav {
    @media screen and (max-width: $media-mobile-max) {
        display: flex;
        flex-direction: column;
        text-align: justify;
        row-gap: 0.5rem;
        margin-top: 0.5rem;
        color: black;
        margin-bottom: 1rem;
    }

    @media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
        display: flex;
        flex-direction: row;
        column-gap: 4.5rem;
        justify-content: space-evenly;
    }

    @media screen and (min-width: $media-desktop-min) {
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
        justify-content: space-between;
    }
}

.nav-link {
    font-weight: 500;
    margin-top: 0.25rem;

    @media screen and (min-width: $media-desktop-min) {
        &:nth-child(4) {
            text-align: right;
        }

        &:nth-child(5) {
            text-align: center;
        }
    }
}
