input,
select {
    width: 100%;
    padding: 0.2rem;
    color: #0b090a;

    &:focus {
        border-color: #a4161a !important;
    }
}

option {
    background-color: white;
}

button {
    width: 100%;
    padding: 0.5rem;
    border-color: #a4161a !important;
}

