a {
    text-decoration: none;
    color: white;

    @media screen and (min-width: $media-desktop-min) {
        font-size: 1.2rem;
    }
}

.header-link {

    &:hover,
    &:active {
        border-bottom: 2px solid white;
    }
}

.footer-link {
    color: black;
}

#active-link {
    border-bottom: 3px solid white;
}
