a {
    text-decoration: none;
    color: white;

    @media screen and (min-width: $media-desktop-min) {
        font-size: 1.3rem;
    }
}

.header-link {
    color: black;
    padding-bottom: 0.15rem;

    &:hover,
    &:active {
        border-bottom: 2px solid #a4161a;
        color: #a4161a;
        padding: 0;
    }
}

.footer-link {
    color: black;
}

#active-link {
    border-bottom: 3px solid white;
}
