* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.hidden {
    display: none;
}
